.faq-block{
    background-color: #212020;
    padding: 2%;
    color: #B0B0B0
}

.faq-question {
    cursor: pointer;
    transition: color 0.3s;
    margin-left: 4%;
}

.faq-block > h2{
    text-align: center;
}
.faq-question:hover {
    color: #007bff;
}

.faq-answer {
    font-size: 16px;
    color: #666;
}

.faq-answer.show {
    display: block;
}

@media screen and (min-width: 768px){
    .faq-block{
        width: 50%;
    }
}
