.services-container{
    background-color: #212020;
}
.container {
    width: 85%;
    margin: 0 auto;
    padding: 20px;
    background-color: #B0B0B0;
    border-radius: 5px;
    overflow: hidden;
}

.button-row {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding-bottom: 10px
}

.button-row::-webkit-scrollbar-thumb{
    background-color: #ffffff;
    border-radius: 4px;
}
.button-row::-webkit-scrollbar{
    height: 3px;
    border-radius: 4px;
}
.button-row::-webkit-scrollbar-track{
    background: #494949;
    border-radius: 5px;
}
.button-row button {
    flex: 0 0 auto;
    margin-right: 10px;
    padding: 10px;
    background-color: #37474f;
    width: 35%;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.scroller {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.service-button{
    background-color: #37474f;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 50px;
    transition: background-color 0.3s, transform 0.3s;
    border: none;
}

.service-button:hover, .button-row button:hover {
    background-color: #61dafb;
    transition: background-color 0.3s, transform 0.3s;
}

h2 {
    margin-top: 0;
}

.button-row button.selected {
    background-color: #61dafb;
    color: #fff;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .scroller{
        font-size: 125%;
    }
    .button-row > button{
        width: 35%;
    }
    .services-container button{
        font-size: 90%;
    }
}

@media screen and (min-width: 1024px){
    .scroller{
        font-size: 150%;
    }
    .scroller > p{
        width: 85%;
    }
    .services-container button{
        font-size: 90%;
    }
    .button-row > button{
        width: 25%;
    }
}
