.social-media-block{
    background-color: #212020;
    padding: 2%;
}
.social-icons{
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

@media screen and (min-width: 768px){
    .social-media-block{
        width: 50%;
    }
}
