$mainAccent: #000;
$secondary: #ebb4a3;
$whiteAccent: #fff;
$grayElements: #aaa;
$pinkElements: #ffdddd;
$navLinks: #444;
$navLinkLine: #946f64;
$hamburberLine: #333;
$row-count: 4;
$layout-breakpoint-large: 1200px;
$layout-breakpoint-medium: 992px;
$layout-breakpoint-small: 768px;
$layout-breakpoint-extra-small: 576px;
